/* Start Variable */
:root {
    --main-color: #ffc75a;
    --second-color: #1f1f1f;
    --third-color: white;
    --background-color: #fffaf7;
    --main-transition: 0.5s;
    --section-padding: 50px;
    --section-padding: 50px;
    --main-font: 'Courgette', cursive;
    --font-weight: normal;
    /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
}

/* End Variable */

/* Start Global Rules */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--third-color);
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Playfair Display', serif; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.goto-up {
    display: none;
}

.goto-up i {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--third-color);
    color: var(--second-color);
    background-color: var(--main-color);
    font-size: 22px;
    right: 50px;
    bottom: 40px;
    cursor: pointer;
    z-index: 500;
}

@media (max-width: 767px) {
    .goto-up i {
        right: 20px;
        bottom: 150px;
    }
}

/* FrameWork */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FrameWork */

/* اعملت هاي علشان بدي اللون اللي ورا يملا الشاشة لكن الكونتنت اللي ورا تملا من الاول للاخر */
.container {
    /* كتبنا ال بادنك علشان الكلام في نسخة الموبايل ما يبلش من اول الشاشة */
    padding-left: 15px;
    padding-right: 15px;
    /* علشان الكونتينر يمسك العناصر في النص */
    margin-left: auto;
    margin-right: auto;
}

/* Small screens */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

/* Medium screens */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Component */
.text a.button {
    color: var(--third-color);
    border-radius: 15px 0 15px;
}

.visit {
    color: var(--third-color) !important;
    background-color: var(--main-color) !important;
}
/* End Component */

/******************************************************************************************************/

/* Start Information */
.information {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--main-color);
    margin-top: 40px;
    border-top: 2px dashed var(--second-color);
    border-bottom: 2px dashed var(--second-color);
    position: relative;
}

.information .container {
    text-align: center;
}

.information h1 {
    font-size: 40px;
    margin: 10px 0;
    text-transform: uppercase;
    color: var(--second-color);
    letter-spacing: 5px;
}

.information .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    color: var(--second-color);
}

.information .link a {
    color: var(--second-color);
    transition: var(--main-transition);
}

.information .link a:hover {
    color: var(--third-color);
}

.information .link span:first-of-type {
    font-size: 25px;
    font-weight: normal;
}
/* End Information */