/* Start Variable */
:root {
    --main-color: #ffc75a;
    --second-color: #1f1f1f;
    --third-color: white;
    --background-color: #fffaf7;
    --main-transition: 0.5s;
    --section-padding: 50px;
    --section-padding: 50px;
    --main-font: 'Courgette', cursive;
    --font-weight: normal;
    /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
}

/* End Variable */

/* Start Global Rules */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--third-color);
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Playfair Display', serif; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.goto-up {
    display: none;
}

.goto-up i {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--third-color);
    color: var(--second-color);
    background-color: var(--main-color);
    font-size: 22px;
    right: 50px;
    bottom: 40px;
    cursor: pointer;
    z-index: 500;
}

@media (max-width: 767px) {
    .goto-up i {
        right: 20px;
        bottom: 150px;
    }
}

/* FrameWork */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FrameWork */

/* اعملت هاي علشان بدي اللون اللي ورا يملا الشاشة لكن الكونتنت اللي ورا تملا من الاول للاخر */
.container {
    /* كتبنا ال بادنك علشان الكلام في نسخة الموبايل ما يبلش من اول الشاشة */
    padding-left: 15px;
    padding-right: 15px;
    /* علشان الكونتينر يمسك العناصر في النص */
    margin-left: auto;
    margin-right: auto;
}

/* Small screens */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

/* Medium screens */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Component */
.text a.button {
    color: var(--third-color);
    border-radius: 15px 0 15px;
}

.visit {
    color: var(--main-color) !important;
}

.visits {
    color: var(--third-color) !important;
    background-color: var(--main-color) !important;
}

/* End Component */

/******************************************************************************************************/

/* Start Information */
.information {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--main-color);
    margin-top: 40px;
    border-top: 2px dashed var(--second-color);
    border-bottom: 2px dashed var(--second-color);
    position: relative;
}

.information .container {
    text-align: center;
}

.information h1 {
    font-size: 40px;
    margin: 10px 0;
    text-transform: uppercase;
    color: var(--second-color);
    letter-spacing: 5px;
}

.information .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    color: var(--second-color);
}

.information .link a {
    color: var(--second-color);
    transition: var(--main-transition);
}

.information .link a:hover {
    color: var(--third-color);
}

.information .link span:first-of-type {
    font-size: 25px;
    font-weight: normal;
}
/* End Information */

/******************************************************************************************************/

/* Start Products */
.products {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--third-color);
    position: relative;
}

.products #search-div {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
}

.products #search-div input {
    max-width: 100%;
    width: 550px;
    height: 45px;
    padding: 5px 20px;
    border-radius: 30px;
    border: 1px solid var(--second-color);
    outline: none;
    box-shadow: 0 0 10px #ddd;
}

.products #search-div input::placeholder {
    transition: var(--main-transition);
}

.products #search-div input:focus::placeholder {
    opacity: 0;
}

.products #search-div input:focus {
    border-color: var(--main-color);
}

.products ul {
    gap: 20px;
    margin-bottom: 40px;
}

.products ul li button {
    color: var(--second-color);
    background-color: #f1f1f1;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: var(--main-transition);
    position: relative;
}

/* .style .type ul li:first-child a {
    color: var(--third-color);
    background-color: var(--main-color);
} */

.products ul li:nth-child(3) button.active::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    background-color: red;
}

.products ul li:hover button {
    color: var(--third-color);
    background-color: var(--main-color);
}

.products .products-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.products .products-box .box {
    background-color: var(--third-color);
    box-shadow: 0 0 10px #ddd;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: var(--main-transition);
    position: relative;
}

.products .products-box .box::before {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--third-color);
    background-color: var(--second-color);
    border: 1px solid var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .products-box .box:first-child:before {
    content: "$268";
}

.products .products-box .box:nth-child(2):before {
    content: "$265";
}

.products .products-box .box:nth-child(3):before {
    content: "$325";
}

.products .products-box .box:nth-child(4):before {
    content: "$200";
}

.products .products-box .box:nth-child(5):before {
    content: "$70";
}

.products .products-box .box:nth-child(6):before {
    content: "$130";
}

.products .products-box .box:nth-child(7):before {
    content: "$100";
}

.products .products-box .box:nth-child(8):before {
    content: "$148";
}

.products .products-box .box:nth-child(9):before {
    content: "$250";
}

.products .products-box .box:nth-child(10):before {
    content: "$300";
}

.products .products-box .box:nth-child(11):before {
    content: "$350";
}

.products .products-box .box:nth-child(12):before {
    content: "$150";
}

.products .products-box .box:nth-child(13):before {
    content: "$350";
}

.products .products-box .box:nth-child(14):before {
    content: "$100";
}

.products .products-box .box:nth-child(15):before {
    content: "$120";
}

.products .products-box .box:nth-child(16):before {
    content: "$400";
}

.products .products-box .box:nth-child(17):before {
    content: "$120";
}

.products .products-box .box:nth-child(18):before {
    content: "$200";
}

.products .products-box .box:nth-child(19):before {
    content: "$140";
}

.products .products-box .box:nth-child(20):before {
    content: "$250";
}

.products .products-box .box:hover {
    transform: translateY(-5px);
}

.products .products-box .box img {
    max-width: 100%;
    width: 200px;
    margin-bottom: 20px;
}

.products .products-box .box h2 {
    color: var(--second-color);
    font-size: 20px;
}

.products .products-box .box .evaluation {
    gap: 10px;
    margin: 15px 0;
}

.products .products-box .box .evaluation i {
    color: var(--main-color);
}

.products .products-box .box .evaluation span {
    color: var(--second-color);
    font-weight: bold;
}

.products .products-box .box p {
    color: #777;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 15px;
}

.products .products-box .box button {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    color: var(--third-color);
    background-color: var(--second-color);
    cursor: pointer;
    transition: var(--main-transition);
}

.products .products-box .box button:hover {
    color: var(--second-color);
    background-color: var(--main-color);
}

.products ul.transform {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.products ul.transform li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products ul.transform li a {
    position: absolute;
    border: 1px solid var(--second-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
}

.products ul.transform li:hover a {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Products */

/******************************************************************************************************/